<div class="flex-item">
    <div class="links">
        <a routerLink="/main">Main page</a>
        <a routerLink="/accounts">Back</a>
    </div>
    <form action="">
        <label>Login: {{account.login}}</label>
        <input [(ngModel)]="account.password" type="password" id="password" name="Password"
               placeholder="*Password" required>
        <input [(ngModel)]="account.firstName" type="text" id="firstName" name="First name"
               placeholder="*First name" required>
        <input [(ngModel)]="account.lastName" type="text" id="lastName" name="Last name"
               placeholder="*Last name" required>
        <select id="select-access-level" [(ngModel)]="account.accessLevel.level" name="accessLevel">
            <option *ngFor="let al of accessLevels">
                {{al}}
            </option>
        </select>
        <button (click)="editAccount()" class="form-button"
                translate>Edit</button>
    </form>
</div>
